body {
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #69b9ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #92a0ad;
}

.button.tab:hover {
  background-color: #2e80b6;
}

.button.tab.w--current {
  background-color: #2e80b6;
}

.navigation-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #676770;
}

.navigation-link:hover {
  color: #2e9dff;
}

.navigation-bar {
  position: static;
  background-color: #fff;
  opacity: 0.52;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #2f80b7;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  position: relative;
  padding: 80px 10px;
  background-color: #fff;
  background-image: none;
  background-position: 0px 0px;
  color: transparent;
  text-align: center;
}

.section.accent {
  background-color: #192024;
}

.section.kitchen {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(138, 152, 190, 0.8)), to(rgba(138, 152, 190, 0.8))), url('../images/kitchen.jpg');
  background-image: linear-gradient(180deg, rgba(138, 152, 190, 0.8), rgba(138, 152, 190, 0.8)), url('../images/kitchen.jpg');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
}

.white-box {
  height: 50vh;
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(hsla(0, 0%, 100%, 0))), url('../images/lines.png');
  background-image: linear-gradient(180deg, #ececec, hsla(0, 0%, 100%, 0)), url('../images/lines.png');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
  box-shadow: 9px 5px 11px -2px rgba(0, 0, 0, 0.19);
  color: #979797;
  text-align: center;
}

.white-box.transparent {
  border-style: none;
  background-color: transparent;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  padding-top: 195px;
  padding-bottom: 195px;
  border-bottom: 4px none #69b9ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/work-table.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/work-table.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  text-align: center;
}

.hero-heading {
  margin-bottom: 30px;
  color: #fff;
  font-size: 4em;
  line-height: 60px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.hero-subheading {
  margin-bottom: 40px;
  color: #2e9dff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #676770;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-heading.centered.white {
  color: #fff;
}

.section-subheading.center {
  color: #8e8e9c;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section-subheading.center.off-white {
  padding-bottom: 0px;
  color: #e8e8e8;
}

.section-title-group {
  margin-bottom: 60px;
}

.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, 0.3);
}

.form-field.text-area {
  height: 110px;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  border-top: 1px solid #dbdbdb;
  background-color: #383838;
  text-align: center;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 16px;
}

.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 0px;
  border: 10px none transparent;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: none;
  color: #7b9c6a;
}

.info-icon {
  float: left;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 140, 255, 0.84);
}

.footer-link.with-icon {
  margin-left: 30px;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}

.white-text {
  margin-bottom: 20px;
  color: #fff;
}

.form {
  margin-top: 40px;
}

.container {
  position: static;
  overflow: visible;
  width: 100%;
  height: 60px;
  min-width: 0px;
  margin-right: auto;
  margin-left: auto;
  border: 1px none #000;
  border-radius: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.container.wide {
  position: static;
  display: inline;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.feature-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25vh;
  padding-bottom: 25vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-image: url('../images/mobileSite_1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #fff;
  border-radius: 9px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.call-to-action {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #bccbd5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#353535), to(hsla(0, 0%, 62.3%, 0.91))), url('../images/geometric-2018038_1920.png');
  background-image: linear-gradient(180deg, #353535, hsla(0, 0%, 62.3%, 0.91)), url('../images/geometric-2018038_1920.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.centered-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.text-span {
  color: #3d3d3d;
}

.hero {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-image-mask {
  width: 100%;
  margin: auto 0px auto 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.hero-image {
  width: auto;
  height: 80vh;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading {
  font-weight: 400;
}

.heading-2 {
  font-weight: 400;
}

.heading-3 {
  font-weight: 400;
}

.heading-4 {
  color: #fff;
}

.heading-5 {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #2f80b7;
  font-weight: 600;
}

.paragraph {
  margin-bottom: 20px;
  color: #427191;
  font-size: 1.5em;
  line-height: 1.4em;
}

.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-height: none;
  min-height: 90vh;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 55, 55, 0.78)), to(rgba(58, 55, 55, 0.78))), url('../images/keyboard.jpg');
  background-image: linear-gradient(180deg, rgba(58, 55, 55, 0.78), rgba(58, 55, 55, 0.78)), url('../images/keyboard.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  color: #fff;
}

.accordion-item {
  width: 100.00000656762799%;
  padding: 0px;
}

.accordion-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-list {
  position: static;
  display: block;
}

.feature-section-2 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-2 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.faq-answer {
  margin-bottom: 24px;
  color: #5a5a5a;
  font-size: 1.5em;
  line-height: 1.4em;
}

.faq-container {
  max-width: none;
  min-width: 600px;
  margin-bottom: 60px;
}

.faq-body {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.faq-body.w--open {
  background-color: transparent;
}

.faq-answer-img {
  width: 100%;
}

.faq-img {
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.toggle-text {
  position: relative;
  z-index: 2;
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: 400;
}

.faq-body-cont {
  padding: 30px;
  border-top: 1px none #000;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}

.faq-body-cont.process {
  padding-top: 0px;
  padding-bottom: 0px;
}

.faq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2f80b7;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  white-space: break-spaces;
}

.faq.w--open {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.faq-icon {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  width: 24px;
  margin-right: 16px;
}

.faq-p {
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #f4f6f8;
}

.heading-6 {
  margin-bottom: 40px;
  font-weight: 400;
}

.div-block {
  width: 50%;
  padding-right: 40px;
  color: #555;
}

.paragraph-2 {
  font-size: 1.5em;
  line-height: 1.4em;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.quotehead {
  margin-top: 40px;
  color: #b2d8ff;
  font-weight: 600;
}

.quote-paragraph {
  color: #fff;
  font-size: 1.5em;
  line-height: 0.5em;
  font-weight: 400;
}

.quote-paragraph.small {
  margin-bottom: 40px;
  font-size: 1.25em;
  line-height: 1em;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00ff37;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.73);
}

.button-2.question {
  margin-top: 0px;
  margin-bottom: 40px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #2298ff;
}

.list-item {
  margin-bottom: 20px;
  color: #5a5a5a;
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: 600;
}

.list {
  margin-top: 40px;
  margin-bottom: 10px;
  padding-right: 40px;
  padding-left: 60px;
}

.paragraph-3 {
  font-size: 1.5em;
  line-height: 1.5em;
}

.link-block {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.paragraph-4 {
  font-size: 1.5em;
  line-height: 1.5em;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span-2 {
  font-weight: 300;
}

.db-link {
  color: #3cc47c;
  text-decoration: none;
}

.webflow-icon {
  margin-right: 8px;
}

.db-fixed-nav-headline {
  margin: 0px 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}

.shrink-box-button-2 {
  display: block;
  margin-right: 5px;
}

.modal-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  overflow: scroll;
  width: 100%;
  height: 100vh;
  padding: 0px 50px 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
}

.shrink-box-wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: pointer;
}

.shrink-box-wrapper-2:hover {
  opacity: 1;
}

.flex-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(315deg, #f0f0f0, #fff);
}

.db-mobile-fixed-nav {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0f0f0f;
  color: #fff;
}

.bot-background {
  position: absolute;
  display: block;
  width: 1vw;
  height: 1vw;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  background-color: rgba(39, 39, 39, 0.65);
}

.webflow-link {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9999999;
  padding: 4px 6px 5px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.32);
}

.modal-closer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  width: 30px;
  height: 30px;
  padding: 3px;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  cursor: pointer;
}

.modal-closer:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.db-logo-wrapper {
  padding: 10px 15px;
  background-color: #3cc47c;
}

.modal {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: block;
  overflow: scroll;
  width: auto;
  max-width: 100%;
  padding: 25px 40px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 7px 50px -9px rgba(0, 0, 0, 0.2);
  color: #383838;
  cursor: default;
}

.modal-title {
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: 0px;
}

.db-fixed-nav-logo {
  width: 100px;
}

.button-3 {
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #3898ec;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.db-flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
}

.div-block-3 {
  position: static;
}

@media screen and (max-width: 991px) {
  .navigation-link {
    color: hsla(0, 0%, 100%, 0.52);
  }

  .navigation-link.w--current {
    color: #fff;
  }

  .hamburger-button.w--open {
    background-color: #3b99d9;
  }

  .navigation-menu {
    background-color: #3b99d9;
  }

  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .grid-image {
    width: 50%;
    padding: 15px;
  }

  .feature-section {
    background-position: 50% 50%;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .faq-container {
    width: 100%;
    min-width: 0px;
  }

  .faq-img {
    width: 50px;
    height: 50px;
  }

  .div-block {
    width: 50%;
  }

  .paragraph-2 {
    color: #4e4e4e;
  }

  .db-fixed-nav-headline {
    text-align: left;
  }

  .shrink-box-button-2 {
    font-size: 12px;
  }

  .db-mobile-fixed-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .db-show-tab {
    position: absolute;
    right: 20px;
    bottom: -25px;
    width: 25px;
    height: 25px;
    padding: 2px 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #0f0f0f;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .button.full-width {
    margin-right: auto;
    margin-left: auto;
  }

  .button.tab {
    font-size: 12px;
  }

  .white-box {
    margin-bottom: 30px;
  }

  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }

  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero-subheading {
    font-size: 18px;
  }

  .form-field.text-area {
    display: block;
  }

  .grid-image {
    width: 20%;
    padding: 20px;
  }

  .spc {
    margin-bottom: 30px;
  }

  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .feature-section {
    padding: 40px 20px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-image: url('../images/mobileSite.jpg'), url('../images/mobileSite.jpg');
    background-position: 0% 50%, 50% 50%;
    background-size: cover, cover;
    background-attachment: scroll, scroll;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .call-to-action {
    padding: 40px 20px;
  }

  .hero {
    padding: 40px 20px;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .hero-overlay {
    padding: 40px 20px;
  }

  .feature-section-2 {
    padding: 40px 20px;
  }

  .flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .faq-img {
    min-height: 40px;
    min-width: 50px;
  }

  .toggle-text {
    font-size: 1.4em;
  }

  .div-block {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: hsla(0, 0%, 100%, 0.77);
  }

  .db-fixed-nav-headline {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }

  .brand-text {
    font-size: 20px;
    line-height: 30px;
  }

  .hero-section.centered {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hero-heading {
    font-weight: 400;
  }

  .section-subheading.center {
    line-height: 30px;
  }

  .grid-image {
    width: 35%;
  }

  .container.wide {
    position: static;
    background-color: #fff;
  }

  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .feature-section {
    background-image: url('../images/mobileSite.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
  }

  .centered-container {
    text-align: left;
  }

  .faq-img {
    display: none;
  }

  .faq {
    padding-left: 40px;
  }

  .heading-6 {
    text-align: center;
  }

  .div-block {
    width: 100%;
  }

  .paragraph-2 {
    width: auto;
    font-size: 1.3em;
  }

  .html-embed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .quote-paragraph {
    text-align: center;
  }

  .button-2 {
    text-align: center;
  }

  .heading-7 {
    text-align: center;
  }

  .db-fixed-nav-headline {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 19px;
  }

  .shrink-box-button-2 {
    display: none;
  }

  .modal-wrapper {
    padding: 70px 20px 20px;
  }

  .shrink-box-wrapper-2 {
    width: 50px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .db-mobile-fixed-nav {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .db-logo-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 160px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .modal {
    overflow: visible;
    padding-right: 30px;
    padding-left: 30px;
  }

  .db-flex-row {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

